/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #423337;
  font-family: Optima, sans-serif;
}

form {
  background-color: #c4c4c4;
}

a {
  padding: 10px;
}

h1 {
  color: white;
  background-color: #600b22;
  padding: 10px;
}

nav {
  background-color: c4c4c4;
}

.form-group {
  padding: 10px;
}

.btn-primary {
  background-color: #600b22;
  border-color: #600b22;
}

.card-deck {
  padding: 15px;
}

.director-card {
  min-width: 300px;
}

.episode-label {
  text-decoration: underline;
}

.col-md-8 {
  flex: 0 0 100%;
  max-width: 100%;
}

#no-directors-found {
  color: #ce8923;
  padding: 10px;
}

#statistics {
  background-color: #c4c4c4;
  padding: 10px;
}

#failed-to-create {
  color: white;
  padding: 10px;
}

#new-director-header {
  padding: 10px;
  color: white;
}